#perfil {
    width: 270px;
    height: 270px;
    border: 7px solid rgb(1, 255, 1);
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 400px;
}

#fundo {
    background-color: yellow ;
}

#sobre-mim {
margin-left: 150px;
}

#descricao {
    margin-left: 450px;
}

.texto {
    color: #00008b;
}