#perfil {
    width: 270px;
    height: 270px;
    border: 2px solid rgb(102, 104, 102);
    border-radius: 50%;
   margin-left: 310px;
}

#fundo {
    background-color: #011724 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



#caixa {
    background-color: #ffff;
   height: 500px;
   width: 900px;
   border-radius: 2%;
   border: 4px solid #06FAFA;
}

#titulo {
    color: #ffff;
    font-size: 45px;
    
}

#subtitulo {
    color: #06FAFA;
}

#sobre-mim {
    text-align: center;
    font-family: Arial, sans-serif;
}

#texto {
    color: #00008b;
    text-align: center;
}

@media screen and (max-width: 917px) {
    

}